site_name: HSE Analysis Reports
theme:
  name: material
  palette:
    scheme: slate
    primary: indigo
    accent: amber
  features:
    - navigation.sections
    - navigation.expand
    - content.code.copy
    - toc.integrate

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - tables
