site_name: HSE Analysis Reports
theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - content.code.copy
    - toc.follow

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
